.container{
    margin-bottom: 75px;
}
.slider_info{
    padding-left: 35px;
}
.slider_info h3{
    color: coral;
}
.btn{
    padding-left: 5px 8px;
    background-image: linear-gradient(90deg , coral,red);
    font-weight: 800;
    color: cornsilk;
}
.card-body h5{
  color: crimson;
}
.card-footer{
    border: none;
    background-color: white;
}
.card{
    box-shadow: 5px 5px 10px lightslategray;
}
.box{
    height: 5px;
    width: 150px;
    background-image: linear-gradient(90deg,lightyellow, red);
    border-radius: 3px;
}
.div1{
    border: 1px solid red;
    height: 400px;
}
.div2{
    border: 1px solid blue;
    height: 400px;
}