.container{
    margin-bottom: 75px;
}
.slider_info{
    padding-left: 35px;
}
.slider_info h3{
    color: coral;
}
.btn{
    padding-left: 5px 8px;
    background-image: linear-gradient(90deg , coral,red);
    font-weight: 800;
    color: cornsilk;
}
.card-body h5{
  color: crimson;
}
.card-footer{
    border: none;
    background-color: white;
}
.card{
    box-shadow: 5px 5px 10px lightslategray;
}
.box{
    height: 5px;
    width: 150px;
    background-image: linear-gradient(90deg,lightyellow, red);
    border-radius: 3px;
}
.image1{
  padding-left: 20px;
  box-shadow: 2px 2px 20px lightslategrey;
  border-radius: 7px;
  height: 200px;
  width: 200px;
}
.image1 img{
    padding-top: 15%;
    padding-left: 10%;
}
.image2{
    box-shadow: 2px 2px 20px lightslategrey;
    border-radius: 7px;
    margin-top: 100px;
    height: 200px;
    width: 200px;
}
.image2 img{
    padding-top: 15%;
    padding-left: 10%;
}
.image3{
     box-shadow: 2px 2px 20px lightslategrey;
     border-radius: 7px;
     margin-top: 50px;
     height: 200px;
     width: 200px;
}
.image3 img{
    padding-top: 15%;
    padding-left: 10%;
}